.previewer-product {
  position: relative;
}

.previewer-product:hover .previewer-button {
  display: block;
}
[data-previewer="always"] .previewer-button {
  display: none !important;
}

.previewer_mobile-product.previewer-product:hover .previewer-button {
  display: none;
}

.previewer_show-product .previewer-button {
  display: block;
}

.previewer-button {
  display: none;
  left: 0;
  right: 0;
  top: 50%;
  overflow: visible !important;
  position: absolute !important;
}

.previewer-button a {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  display: table;
  background: rgba(255,255,255,.7);
  padding: 2px 5px;
  color: #2d2d2d;
  text-decoration: none !important;
  cursor: pointer;
  z-index: 80000;
  opacity: 1;
}

.previewer-button a.center {
  top: 50%;
}

.previewer-button a.top {
  top: 0;
  margin-top: 0;
}

.previewer-button a.bottom {
  top: 100%;
  margin-top: -30px;
}

.previewer_modal {
  display: none;
  position: fixed;
  z-index: 80001;
  padding-top: 150px;
  padding-bottom: 250px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  opacity: 1;
}

.previewer_modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 60%;
  min-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@media only screen and (max-width: 1369px) {
  .previewer_modal-content {
    width: 65%;
  }
}

@media only screen and (max-width: 1280px) {
  .previewer_modal-content {
    width: 70%;
  }
}

@media only screen and (max-width: 969px) {
  .previewer_modal-content {
    width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .previewer_modal-content {
    width: 90%;
  }
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.previewer_modal-content .close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
  opacity: 0.7;
}

.previewer_modal-content .close:hover,
.previewer_modal-content .close:focus {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.previewer_modal-body .image-wrapper {
  padding: 20px 6px;
  padding-right: 10px;
}

.previewer_modal-body .image-wrapper .variant_images-block {
  width: 25%;
  max-width: 90px;
  display: inline-block;
  vertical-align: top;
  min-height: 300px;
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.previewer_modal-body .image-wrapper .variant_images-block img {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-height: 30px;
}

.previewer_modal-body .image-wrapper .variant_images-block .variant-block {
  float: left;
  text-align: center;
  margin: 10px 5px;
  width: 100%;
}

.previewer_modal-body .image-wrapper .action-wrapper {
  padding: 0px 10px;
}

.previewer_modal-body .image-wrapper .action-wrapper div {
  display: block;
  background: url("");
  height: 25px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  opacity: 1;
  cursor: pointer;
}

.previewer_modal-body .image-wrapper .action-wrapper .slick-disabled, .previewer_modal-body .image-wrapper .action-wrapper .slick-hidden {
  opacity: 0.4;
  cursor: auto;
}
.previewer_modal-body .image-wrapper .action-wrapper .prev {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.previewer_modal-body .image-wrapper .action-wrapper .next {
}

.previewer_modal-body .image-wrapper .content-images {
  margin: 20px 0;
}

.previewer_modal-body .image-wrapper .content-images, .previewer_modal-body .image-wrapper .content-images .slick-list {
  max-height: 330px;
  min-height: 330px;
}

.previewer_modal-body .image-wrapper .main_image-block {
  width: 75%;
  display: inline-block;
  padding: 0 7px;
}

.previewer_modal-body .image-wrapper .main_image-block img {
  width: 100%;
}

.previewer_modal-body .image-wrapper .close {
  display: none;
}

.previewer_modal-body .description-wrapper_content {
  padding: 20px 10px;
}

.previewer_modal-body .price-old {
  margin-right: 10px;
}

.previewer_modal-body .col {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.previewer_modal-body .inline {
  display: inline-block;
}

.previewer_modal-body .inline label {
  margin-right: 5px;
}

.previewer_modal-body .previewer_options div:first-child {
  margin-left: -7px;
}

.previewer_modal-body .previewer_options div:last-child {
  margin-right: -7px;
}

.previewer_modal-body .previewer_options div.inline {
  margin-right: 10px;
  padding: 7px;
}

.previewer_modal-body .previewer_options div.hidden {
  display: none;
}

.previewer_modal-body .product-description {
  position: relative;
  max-height: 200px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2;
}
.previewer_modal-body .product-description:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.2em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
}

.previewer_modal-body .previewer_add-to-cart_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.previewer_modal-body .previewer_add-to-cart_wrapper .previewer_add-to-cart_quantity {
  width: 40%;
  padding-right: 10px;
  margin-bottom: 10px;
}
.previewer_modal-body .previewer_add-to-cart_wrapper .previewer_add-to-cart_btn {
}

.previewer-product_action {
  display: none;
  position: absolute;
  width: 70px;
  height: 50px;
  top: 40%;
  background: url("");
  background-repeat: no-repeat !important;
  background-position: bottom !important;
  background-size: 70px !important;
  cursor: pointer;
  opacity: 0.7;
}

.previewer_modal-body .previewer_categories {
  display: none;
  margin-bottom: 8px;
}

.previewer-product_action.disabled {
  cursor: default;
  opacity: 0.2;
}

.previewer-product_prev {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  left: -75px;
}

.previewer-product_next {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  right: -75px;
}

@media only screen and (max-width: 576px) {
  .previewer_modal-body .image-wrapper .variant_images-block {
    width: 35%;
    min-height: 200px;
    max-height: 300px;
  }

  .previewer_modal-body .image-wrapper .content-images, .previewer_modal-body .image-wrapper .content-images .slick-list {
    max-height: 150px;
    min-height: 150px;
  }

  .previewer_modal-body .image-wrapper .content-images {
    margin: 7px 0;
  }

  .previewer_modal-body .image-wrapper .main_image-block {
    width: 65%;
  }

  .previewer_modal-body .image-wrapper.col, .previewer_modal-body .description-wrapper.col {
    width: 100%;
    padding: 10px 6px;
  }

  .previewer_modal-body .image-wrapper .variant_images-block .variant-block {
    margin: 5px 2px;
  }

  .previewer_modal-body .image-wrapper .variant_images-block img {
    max-width: 60px;
  }

  .previewer_modal-body .image-wrapper .action-wrapper div {
    height: 23px;
  }

  .previewer_modal-body .description-wrapper_content {
    padding: 10px 20px;
  }

  .previewer_modal-body .product-description {
    max-height: 130px;
  }

  .previewer_modal-body .image-wrapper .close {
    display: block;
    margin-top: -10px;
    margin-right: 0;
  }

  .previewer_modal-body .description-wrapper .close {
    display: none;
  }
}

.previewer-loader,
.previewer-loader:before,
.previewer-loader:after {
  border-radius: 50%;
}
.previewer-loader {
  color: #000000;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.previewer-loader:before,
.previewer-loader:after {
  position: absolute;
  content: '';
}
.previewer-loader:before {
  width: 5.2em;
  height: 10.2em;
  background: inherit;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load-animation 2s infinite ease 1.5s;
  animation: load-animation 2s infinite ease 1.5s;
}
.previewer-loader:after {
  width: 5.2em;
  height: 10.2em;
  background: inherit;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load-animation 2s infinite ease;
  animation: load-animation 2s infinite ease;
}
@-webkit-keyframes load-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
